:root{
  --ff-karla:'Karla', sans-serif;
  --ff-inter:'Inter',sans-serif;
  --dark-navy-blue:#1F2937;
  --navy-blue:#273549;
  --white:#fff;
  --medium-gray:#D5D4D8;
  --green-primary:#4ADF86;
  --green-secondary : #10B981;
  --green-tertiary:#55F991;

}

*, *::before,*::after{
  box-sizing: border-box;
}

body,html,h1,h2,h3,div,fieldset,legend,label,input,button,hr,span{
  margin:0;
  padding:0
}

/* Typography */

body{
  font-family: var(--ff-inter);
}

.title{
  font-family: var(--ff-karla);
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  color: var(--white);
  /* line-height: 2.5rem; */
}

.green-text{
  color: var(--green-primary);
}

.subtitle,fieldset,label{
  color: var(--medium-gray);
  font-size: 1.25rem;
  font-weight: 400;
}

.generate-passwords{
  font-size: 1rem;
  font-family: var(--ff-inter);
  font-weight: 500;
  color: white;
}


body{
  background-color: var(--dark-navy-blue);
}

/* Utility Classes */
.container{
  
  width: 85%;
  margin-inline:auto;

}

@media(min-width: 500px){
  .container{
    padding: 1rem;
    max-width: 600px;
  }
}

.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
}
.wrap{
  flex-wrap: wrap;
}

.main{
  gap: 1rem;
  padding-block: 2rem;
}
.btn-primary{
  padding: 0.5625rem 1rem;
  border-radius: 0.375rem;
  background-color: var(--green-secondary);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  margin: auto;
}

fieldset{
  text-align: center;
}

.checkbox-container{
  padding: 1rem;
}

.checkbox-container>label{
  
  justify-content: center;
  margin-bottom: .65rem;
  text-align: center;
  gap:2rem;
}

.pass-length-label{
  margin-block: .7rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:1.5rem;
  padding: 1rem;


}
.pass-length{
  accent-color: var(--green-tertiary);

}

.passwords-container{
  gap:1.2rem;
  justify-content: center;
}
.password{
  min-width: 50%;
  cursor: pointer;
  flex: 1;
  background-color: var(--navy-blue);
  color:var(--green-tertiary);
  border-radius: 0.375rem;
  padding: 0.5625rem 1rem;
  text-align: center;
}
hr{
  margin-block: 1rem;
}